<h1>{{title}}</h1>
<table class="table">
  <thead class="thead-light">
    <th scope="col">Titre du module</th>
    <th scope="col">Titre de l'activité</th>
    <th scope="col">Début</th>
    <th scope="col">Fin</th>
  </thead>
  <tbody>
    {{#each events}}
        <tr>
            <td>{{this.titlemodule}}</td>
            <td>{{this.acti_title}}</td>
            <td>{{this.allowed_planning_start}}</td>
            <td>{{this.allowed_planning_end}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
